#enablesearch {
height: 24px;
border: 0px solid #c00;
}

#btn_img {
float: left;
margin-right: 6px;
}

/* Version and link*/

#realblog_version {
font-family:arial,sans-serif;
font-size: 14px;
text-align: center;
}


/* Textareas */

#realblog_headline {
width: 99%;
height: 320px;
font-family: 'courier new', serif;
font-size: 16px;
padding: 0;
}

.realblog_headline_field {
font-family: 'courier new', serif;
font-size: 16px;
}

#realblog_story {
width: 99%;
height: 480px;
font-family: 'courier new', serif;
font-size: 16px;
padding: 0;
}

/* buttons */

div.realblog_buttons {
clear: both;
padding: 6px 0;
}

.realblog_button {
    display: inline-block;
    border: 1px solid #888;
    border-radius: 0.8em;
    padding: 0.1em 0.5em;
    margin-right: 1em;
}

.realblog_button a:link {color: #258; text-decoration: none;}
.realblog_button a:visited {color: #258; text-decoration: none;}
.realblog_button a:hover {color: #c60; text-decoration: underline;}
.realblog_button a:active {color: #c60; text-decoration: underline;}
.realblog_button a:focus {color: #c60; text-decoration: underline;}

.realblog_story_field {
width: 100%;
font-family: 'courier new', serif;
font-size: 16px;
font-size: 1.1em;
}

div.realblog_fields_block #date1 {
margin-bottom: 12px;
}

.realblog_date_label {
font-weight: 700;
}

span.realblog_date_label {
font-weight: bold;
font-family: arial;
font-size: 1em;
margin-bottom: 56px;
}

span.realblog_title_label {
font-weight: bold;
font-family: arial;
font-size: 1em;
}

span.realblog_headline_label {
font-weight: bold;
font-family: arial;
font-size: 1em;
}

span.realblog_story_label {
font-weight: bold;
font-family: arial;
font-size: 1em;
}

.realblog_entry_footer {
clear: both;
}

.realblog_number_of_comments {
float: left;
font-style: italic;
}

.realblog_read_more {
float: right;
text-align: right;
padding-bottom: 12px;
}

span.realblog_frontpage_label{
font-weight: bold;
font-family: arial;
font-size: 1em;
}

span.realblog_date_field {
font-weight: lighter; color:red;
font-family: arial;
font-size: 0.8em;
}

span.realblog_title_field {
font-weight: lighter; color:blue;
font-family: arial;
font-size: 0.8em;
}

span.realblog_frontpage_field {
font-weight: lighter; color:blue;
font-family: arial;
font-size: 0.8em;
}

/* BACKEND select entry table */

.realblog_table {
    width: 100%;
    table-layout: auto;
    border: 1px solid;
    border-collapse: collapse;
}

td.realblog_table_header {
height: 26px;
background: #555;
color: #fff;
font-family: arial, sans-serif;
font-size: 15px;
font-weight: bold;
}

.realblog_table_details {
border: 1px solid #075FB9;
}

.realblog_table_line {
    padding: 0.3em;
}

.realblog_onoff {
color: #070;
font-weight: 700;
}

td.realblog_table_title {
    padding: 0.3em 1em;
    border-bottom: 1px solid;
}

.realblog_table_line img, .realblog_table_header img {
border: 0;
}

.realblog_paging_block {
    overflow: hidden;
    padding-top: 1em;
}

.realblog_db_info {
    float: right;
    margin-bottom: 1em;
}

.realblog_page_info {
    float: left;
    margin-bottom: 1em;
}

.realblog_table_paging {
clear: both;
text-align: center;
padding: 6px 0 0 0;
}

div.realblog_table_paging img, div.realblog_page_info img {
border: 0;
}

/* entries overwiew */

#realblog_entries_preview {
border-top: 1px solid;
margin: 10px 0 0 0;
}

/* multi columns overwiew outer div */
.realblog_single_entry_preview {
width: 49.9%;
float: left;
}

/* multi columns overwiew inner div */
.realblog_single_entry_preview_in {
height: 250px;
overflow: auto;
border: 1px solid;
padding: 10px;
margin: 10px 10px 0 0;
}

.realblog_show_date {
font-size: 94%;
font-weight: 700;
font-style: italic;
margin: 6px 0 10px 0;
}

.realblog_show_story {
width: 100%;
border-bottom: 1px solid;
}

.realblog_show_story_entry {
width: 100%;
border-bottom: 0;
}

.realblog_show_box {
margin: 10px 0;
width:100%;
}

/* tpl_classes for function realbloglink */

p.realbloglink {
font-weight: 700;
border: 0;
padding: 12px 0 0 0;
margin: 0;
}

.realblog_tpl_show_date {
font-style: italic;
border-top: 1px solid;
padding: 5px 0 0 0;
margin: 6px 0 0 0;
}

.realblog_tpl_show_story {}

.realblog_tpl_show_box {
border-bottom: 1px solid;
padding: 0 0 8px 0;
}

.realblog_admin {
height:24px;
background-color: #075FB9;
color: White;
display: block;
}

#btn_img, #trig_date1, #trig_date2{
margin-bottom: 10px
}

ul.realblog_archive li {
list-style-type: none;
list-style-image: none;
}

td.realblog_search_text {
text-align: right;
font-weight: 700;
}

.realblog_search_hint {
padding: 0 0 10px 0;
}

.realblog_search_input {
border: 1px solid #999;
padding: 2px 5px;
}

/*
 * Back-end.
 */
.realblog_logo {
    float: left;
    margin-right: 16px;
}
.realblog_license {
    text-align: justify;
}

#realblog_filter {
    margin: 1em 0;
}
#realblog_filter label {
    margin-right: 1em;
}
